/*Custom css*/

.posthr{color:#F8F8F8;}

.copyright {
text-align: center;
padding: 17px;
}

/*CSS Done by Kamrul*/

.posttitle{color:;padding: 7px;margin: 0px;}

.fa-commenting-o{color:#a8a8a8;}
.fa-user,.fa-clock-o{color:#a8a8a8;}
.footer1{border-right:1px solid #0c0c0c; }

.fa-commenting-o{color:#dfdfdf;}
.fa-user{color:#dfdfdf;}
.seperator{padding: 20px;}
.footer{background:rgba(0,0,0,0.7);padding-top: 25px;padding-bottom: 25px;color: #f1f1f1;}
.spadding{padding: 2px;}
.copyrightarea{background:rgba(0,0,0,0.6);}
.header{background: rgba(0,0,0,0.6); margin-bottom: 40px;}
.slider{margin-bottom: 25px;}



/*CSS Done by Kamrul*/


/*limon*/
.border-bottom{
	border-bottom: 1px solid #eee;
}
ul.list-sidebar{
	list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.list-sidebar li{
	border-bottom: 1px solid #eee;
	padding:5px 10px;
}
.no-padding{
	padding:0 !important;
}
ul.social-media{
	list-style-type: none;
}
ul.social-media li{
	display: inline-block;
	float: left;
	padding: 10px;
	font-size: 42px;
}
nav.nav-bar{
	background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
    margin: 10px 0 !important;
}
.navbar-brand{
	color: #fff !important;
}
.navbar-brand:hover, .navbar-brand:focus{
	color: #999 !important;
}
.navbar-nav > li > a {
    color: #fff !important;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
	color: #999 !important;
}
ul.list-footer{
	list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.list-footer li{
	border-bottom: 1px solid #737373;
	padding:5px 10px;
}
.footer-border{
	border-bottom: 1px solid #737373;
}
.top-spacing{
	padding-top:10px;
}
.list-footer a {
	color: #fff !important;
}
.list-footer a:hover, .list-footer a:focus{
	color: #999 !important;
}
.footer-recent-posts a{
	color: #fff !important;
}
.footer-recent-posts a:hover, .footer-recent-posts a:focus{
	color: #999 !important;
}
/*limon*/